<div class="container">
  <div class="d-flex flex-row">
    <div class="d-flex flex-column flex-grow-1">
      <!-- search bar -->
      <div class="row mt-5">
        <div class="col-md-4 mx-auto">
          <div class="search-bar">
            <div class="search-bar-outer">
              <div class="search-bar-inner">
                <form action="/lessons/search">
                  <h4 class="mb-2">尋找老師：</h4>
                  <div class="input-group">
                    <input type="text" name="keyword" class="form-control" placeholder="輸入老師、關鍵字"
                      aria-label="Teacher's Name..." value="{{keyword}}" aria-describedby="search-button">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit" id="search-button">search</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- list -->
      <div class="row mt-5">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row row-cols-sm-3">
            {{#each teachers}}
            <div class="mb-3 ">
              <div class="card ">
                <img class="card-img-top mx-auto" src="{{this.image}}" alt={{this.name}}
                  style="width: 200px ;height: 200px; transition: opacity 0.5s; opacity:0;"
                  onload="this.style.opacity=1;">
                <div class="card-body p-3">
                  <h6 class="card-title mb-1">{{this.name}}</h6>
                  <span class="badge rounded-pill bg-danger font-weight-normal">
                    {{#if this.isUser.nation}}{{this.isUser.nation}}{{else}}others{{/if}}
                    <i class="fas fa-star fa-xs"></i>
                  </span>
                  <p>{{this.introduction}}</p>
                  <a class="btn btn-info" href="/lessons/{{this.id}}">查看</a>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      <!-- 分頁 pagination -->
      <div class="row mt-5">
        <div class="col-md-4 mx-auto">
          <nav class="mt-3" aria-label="page navigation">
            <ul class="pagination">
              <li class="page-item {{#ifCond pagination.currentPage 1}}disabled{{/ifCond}}">
                <a class="page-link" href="/lessons?page={{pagination.prev}}&keyword={{../keyword}}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {{#each pagination.pages}}
              {{#ifCond this ../pagination.currentPage}}
              <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
              {{else}}
              <li class="page-item">
                <a class="page-link" href="/lessons?page={{this}}&keyword={{../keyword}}">{{this}}</a>
              </li>
              {{/ifCond}}
              {{/each}}
              <li class="page-item {{#ifCond pagination.currentPage pagination.totalPage}}disabled{{/ifCond}}">
                <a class="page-link" href="/lessons?page={{pagination.next}}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- Rank -->
    <div class="border border-dark border-3 mt-5 mx-auto text-center" style="flex-shrink: 0;">
      <h3>學習時數排行榜</h3>
      <div class="d-flex flex-column ">
        {{#if ranksIndex}}
        {{#each ranksIndex}}
        <div class="row row-cols-sm-3">
          <div class="col-sm-3 ">
            <img class="border-light rounded-circle mr-5" src="{{this.User.image}}" alt="..."
              style="width: 50px ;height: 50px;">
          </div>
          <div class="col-sm-3">
            <div class=" d-flex align-items-center">
              <span class="badge rounded-pill bg-danger font-weight-normal">
                {{this.rank}}
                <i class="fas fa-star fa-xs"></i>
              </span>
              <strong>{{this.total}}mins</strong>
            </div>
            <h4>{{this.User.name}}</h4>
            <hr />
          </div>
        </div>
        {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</div>