<div class="row m-5">
  <div class="col-md-4">
    <img class="img-responsive center-block mb-5" src="{{teacher.image}}"
      style="width: 150px ;height: 150px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    <h1>{{teacher.name}}</h1>
    <P>{{user.nation}}</P>
    {{#if avgComment.avgScores}}
    <span class="badge rounded-pill bg-warning font-weight-normal">
      {{avgComment.avgScores}}
      <i class="fas fa-star fa-xs"></i>
    </span>
    {{/if}}
    <h4>About me</h4>
    <p>{{teacher.introduction}}</p>
  </div>
  <div class="col-md-8 card">
    <div class="card-body d-flex-inline">
      <h5>New Schedule</h5>
      {{#if newRecords}}
      <div class="d-flex overflow-auto " style="max-width: 1000px ">
        {{#each newRecords}}
        <div class="border border-4 m-1 p-2" style="min-width: 250px ;min-height: 100px;">
          <p>上課時間：{{this.startDate}}</p>
          <p>學生名字：{{this.User.name}}</p>
          <p>上課網址：{{this.Teacher.url}}</p>
        </div>
        {{/each}}
      </div>
      {{else}}
      <p>無預約課程</p>
      {{/if}}
    </div>
    <div class="card-body d-flex-inline">
      <h5>Your Teaching Style</h5>
      <p>{{teacher.teachingStyle}}</p>
    </div>
    <div class="card-body d-flex-inline">
      <h5>Recent Reviewed</h5>
      {{#if allComment}}
      {{#each allComment}}
      <p>
        <span class="badge rounded-pill bg-warning font-weight-normal">
          {{this.scores}}
          <i class="fas fa-star fa-xs"></i>
        </span>
        {{this.text}}
      </p>
      {{/each}}
      {{/if}}
    </div>
  </div>
</div>
<div>
  <button type="button" class="btn btn-link">
    <a class="btn btn-primary" href="/teachers/{{teacher.id}}/edit">
      Edit
    </a>
  </button>
  <a class="btn btn-outline-secondary" href="/">Back</a>
</div>